doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sign Up | Bonavita
  script(src='js/error.js' async='')
  link(rel='stylesheet' href='css/client/utlities.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700;800&display=swap' rel='stylesheet')

  link(rel='stylesheet' href='css/client/credentials.css')
  link(rel='stylesheet' href='css/client/error.css')
  script(src="JS/menu.js" async='')
.container
  .navbar
    .logo
      a(href='/')
        img.img-logo(src='img/bonavita-logo.png' width='200px')
    .socials
      ul
        li
          a(href='https://www.lazada.com.ph/shop/bonavita-philippines/')
            img.social(src='img/lazada-logo.png' height='40px')
        li
          a(href='https://www.facebook.com/bonavitaphilippines2016')
            img.social(src='img/facebook-logo.png' height='40px')
    nav
      ul#lists
        li
          a(href='/login') Login
        li
          a(href='/signUp') Sign Up
    img#menuIcon.menu(src='img/menu-bar.png' onclick='openmenu()')
if error
  #confirm
    #message Error: #{error}
    button#yes OK

p.logo
  a(href='index.html')
    img.img(src='img/bonavita-logo2.png' width='200px')
form(action="/user/signUp",method="POST")
  p#formtitle  Sign Up 
  input#name(type='text' name='name' aria-label='First Name' placeholder='Name' required='')
  br
  input#email(type='email' name='email' aria-label='E-mail' placeholder='E-mail' required='')
  br
  input#phonenum(type='tel' name='phoneNumber' aria-label='Phone Number' placeholder='Phone Number' required='')
  br
  input#password(type='password' name='password' aria-label='Password' placeholder='Password' required='')
  input#confirmPassword(type='password' name='confirmPassword' aria-label='Password' placeholder='Confirm Password' required='')
  br
  .home-address_complete.address
      input.shipping-fields.home-input__address(type='text' placeholder='House/Unit/Flr #, Bldg Name, Blk or Lot #' required='true' name="homeAddress")
      .Street.address
        input.shipping-fields.city__address(type='text' placeholder='* Street Name' name="Street")
      .Subdv.address
        input.shipping-fields.city__address(type='text' placeholder='* Village/Subdivision' required='' name="Subdv")
      .city.address
        input.shipping-fields.city__address(type='text' placeholder='City/Municipality' name="City" required='true')
      .barangay.address
        input.shipping-fields.barangay__address(type='text' placeholder='Barangay' name="Barangay" required='true')
      .postal.address
        input.shipping-fields.postal__address(type='text' placeholder='Postal Code' name="postalCode" required='true')
  button(type='submit') Sign Up
  br
  |         If you already have an account, 
  a.anchor-login(href='/login') Log in
footer.footer
  .footer-container
    .footer-fill
      .footer-brand
        ul.brand
          h3  Bonavita
          li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          br
      .footer-social-links
        ul.social-links
          li
            h3 Follow Us:
          li
            a(href='https://www.facebook.com/bonavitaphilippines2016') Facebook
          li
            a(href='https://www.lazada.com.ph/shop/bonavita-philippines/') Lazada
      .footer-contact-info
        ul.contact-info
          li
            a(href='') About Us
          li
            a(href='') Terms and Conditions
          li
            a(href='') Privacy Policy
          li
            a(href='') FAQ
  .company
    p &copy; 2021 Bonavita Philippines. All rights reserved.
