tr:nth-child(odd) {
    background-color: #dddddd;
}
.accept-table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}
td, th{
    border: 1px solid #dddddd;
    padding: 10px;
}
.content-container {
    padding: 25px 30px 0 30px;
}
.accept-table__heading {
    text-align: left;
    background-color: rgb(119, 211, 223) !important;
    border-radius: 20px;
}
.content-heading {
    text-align: center;
    margin-bottom: 60px;
}

.heading-container h1 {
    text-align: center;
}
.add-shipping {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}
.add-shipping input {
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    font-family: 'Poppins';
}
.shippping-table{
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 80px;
}
.shippping-table h1 {
    text-align: center;
}

.faq-categories {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    row-gap: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.faq-categories li {
    list-style-type: none;
    position: relative;
}
.faq-category i {
  position: absolute;
  top: -10px;
  cursor: pointer;
   
}

.faq-category .faq-btn {
  color: black;
  background-color: rgb(164, 226, 164);
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
}

.icon-del {
  padding: 0;
}
.fa-minus-circle {

  color: red;
}

.content-wrapper {
    width: 90%;
    margin: 0 auto;
}
.addCategory-container {
    text-align: center;
    margin-bottom: 60px;
}
.category-input {
    padding: 10px;
    font-family: 'Poppins';
    margin-right: 10px;
}
.addCategory-container a {
    color: rgb(14, 15, 15);
    text-decoration: none;
    padding: 10px;
    background-color: rgb(223, 222, 222);
}
.faqs {
    position: relative;
    top: 70px;
    width: 90%;
    margin: 0 auto;
}
.faq_question-container {
    background-color: ivory;
    padding: 40px;
    margin-bottom: 30px;
    text-align: justify;
    position: relative;
}
.addQuestion {

  width: 100%;
  margin-top: 30px;
  margin-bottom: 100px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Poppins';
}
.edit__container {
  position: absolute;
  top: 80%;
}
.edit {
  
  color: blue !important;
 
}
.delete__container {
  position: absolute;
  top: 10px;
  left: 95%;

}

.addQuestion input {

  display: block;

}
.addQuestion input[type="submit"] {
  margin-top: 13px;
  padding: 10px;
  outline: none;
  border: none;
  background-color:ivory ;
}
.addQuestionInput-heading {
  width: 60%;
  height: 40px;
  margin-bottom: 30px;
}
.addQuestionInput-body {
  width: 100%;
  height: 100px;
}


.edit-btn {
    color: blue;
    text-decoration: none;
    padding: 0;
}

.delete-btn {
    color: red;
    text-decoration: none;
}

/* modal */
.heading-edit {
  margin-bottom: 30px;
}
.heading-edit input {
  width: 60%;
  height: 40px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content h1 {
  margin-bottom: 30px;
}

.modal-content ::placeholder {
 font-family: 'Poppins';

}
.admin-form__submit {
  background-color: #D9FaF4;
  outline: none;
  border: none;
  padding: 10px;
}
.createdFaq-heading {
  margin-bottom: 50px;
}
.body-container {
  margin-bottom: 20px;
}
.body-container input {
  height: 30px;
}
/* Modal Content */


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.closeEdit {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* media query */
@media screen and (max-width: 1368px){
  .addCategory-container{
    font-size: 18px;
  }

  .faq-categories{
    font-size: 18px;
    row-gap: 35px;
  }

  .heading-container{
    font-size: 18px;
    margin-top: 5px;
  }

  .shippping-table{
    font-size: 18px;
  }

  .add-shipping{
    text-align: center;
    margin-bottom: 5px;
    row-gap: 10px;
  }

}

@media screen and (max-width: 992px){
.addCategory-container{
  margin-bottom: 50px;
}

.faq-categories{
  row-gap: 35px;
}

.content-heading{
  margin-bottom: 50px
}

.add-shipping{
  text-align: center;
  row-gap: 10px;
  margin-bottom: 5px;
}

}

@media screen and (max-width: 768px){
.addCategory-container{
  margin-bottom: 40px;
  font-size: 15px;
}

.faq-categories{
  grid-template-columns: 50% 50%;
  row-gap: 30px;
}

.faq_question-container{
  margin-bottom: 20px;
  padding: 40px;

 
}

.content-heading{
  margin-bottom: 30px
}

.content-container{
  padding: 25px 30px 0 30px;
}

.category-input{
  padding: 7.5px;
}

.heading-container{
  font-size: 15px;
  margin-top: 5px;
}

.shippping-table{
  font-size: 15px;
}

.add-shipping{
  text-align: center;
  margin-bottom: 5px;
  row-gap: 10px;
}



@media screen and (max-width: 600px){
  .addCategory-container{
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 13px;
  }

  .faq-categories{
    grid-template-columns: 50% 50%;
    font-size: 13px;
    row-gap: 30px;
  }

  .faq_question-container{
    margin-bottom: 20px;
  }

  .content-heading{
    font-size: 13px;
    margin-bottom: 30px
  }

  .content-container{
    padding: 10px;
  }

  .question-container{
    font-size: 13px;
  }

  .faqs{
    font-size: 13px;
  }

  .body {
    font-size: 13px;
  }

  .category-input{
    padding: 4px;
  }

  .heading-container{
    font-size: 13px;
    margin-top: 5px;
  }

  .shippping-table{
    font-size: 13px;
  }

  .add-shipping{
    display: grid;
    text-align: center;
    margin-top: 30px;
    row-gap: 10px;
  }

}

@media screen and (max-width: 420px){
  .addCategory-container{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 11px;
  }

  .faq-categories{
    grid-template-columns: 50% 50%;
    font-size: 11px;
    row-gap: 30px;
  }

  .faq_question-container{
    margin-bottom: 20px;
  }

  .question-container{
    font-size: 11px;
  }

  .faqs{
    font-size: 11px;
  }

  .content-heading{
    font-size: 11px;
    margin-bottom: 30px
  }

  .content-container{
    padding: 5px;
  }

  .body {
    font-size: 11px;
  }

  .category-input{
    padding: 1px;
  }

  .heading-container{
    font-size: 11px;
    margin-top: 5px;
  }

  .shippping-table{
    font-size: 11px;
  }

  .add-shipping{
    display: grid;
    text-align: center;
    margin-top: 20px;
    row-gap: 10px;
  }
}

}