* {
    box-sizing: border-box;
}
body{
    background-color:#D9FaF4;
    margin: 0;
    padding: 0;
}
p{
    text-align: center;
}
form {
    align-content: center;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    display: table;
    margin:auto;
    box-shadow: 2px 2px 5px #CCD1D1;
    width: 300px;
    height: 50%;
    margin-bottom: 10px;
}
#formtitle{
    font-size: 25px;
}
.anchor__container{
    margin-top: 20px;
}
input{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
}
button{
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 12px;
    background-color: #219E97;
    border-radius: 7px;
    color: white;
}
button:hover {
    opacity: 0.5;
}
a{
    font-size: 15px;
}
span{
    float: right;
}

.anchors__container {
    padding-top: 10px;
}
.anchor-login {
  color: cadetblue;
  text-decoration: none;
}

.reset__container {
    margin-top: 15px;
}
.credentials__container {
    margin-top: 10px;
}

.anchors__container {
    margin-top: 10px;
}
::placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.9; /* Firefox */
  }

.img-signup{
  margin-top: 10px;
}

.img-login{
  margin-top: 10px;
}

  /* media query */
  @media screen and (max-width: 1200px){
    form{
      width: 400px;
    }

    #formtitle{
      font-size: 33px;
    }


  }

  @media screen and (max-width: 992px){
    form{
      width: 360px;
    }

    #formtitle{
      font-size: 30px;
    }

  }

  @media screen and (max-width: 768px){
    form{
      width: 330px;
    }

    #formtitle{
      font-size: 27.5px;
    }


  }

  @media screen and (max-width: 600px){
    form{
      width: 300px;
    }

    #formtitle{
      font-size: 25px;
    }


  }

  @media screen and (max-width: 420px){
    form{
      width: 280px;
    }

    #formtitle{
      font-size: 22.5px;
    }


  }
